// The old cbf file...

// just some throw away layout for the reset page

.reset__group {
  max-width: 700px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.reset__title {
  padding-top: 30px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #9d9d9d;
  border-bottom: 1px solid #9d9d9d;
}

.reset__subtitle {
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #ccc;
  border-bottom: 1px solid #e8e8e8;
}